/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1{
  text-align: center;
}
h2{
text-align: left;
float: left;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  margin: 0 auto;
  list-style: none;
  padding: 0;
  float: left;
}
li{
  border: 3px solid black;
  width: 94px;
  height: 65px;
  margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#neworleans{
  background: rgb(238, 130, 238);
  background-repeat: no-repeat;
  background-position: center;
}
#italy{
  background: rgb(0, 253, 81);
  background-repeat: no-repeat;
  background-position: center;
}
#newyork{
  background: rgb(0, 254, 255);
  background-repeat: no-repeat;
  background-position: center;
}
#amsterdam{
  background: rgb(255, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
}
#newmexico{
  background: rgb(255, 165, 0);
  background-repeat: no-repeat;
  background-position: center;
}
#jamaica{
  background: rgb(255, 255, 0);
  background-repeat: no-repeat;
  background-position: center;
}
#seattle{
  background: rgb(44, 27, 153);
  background-repeat: no-repeat;
  background-position: center;
}
