
/******************************************
/* LAYOUT
/*******************************************/
h1{
  text-align: center;
}
h2{

}

img{
  display: block;
  height: 300px;
  margin: 0 auto;
}

ul{
  margin: 0 auto;
  list-style: none;
  padding: 0;
  float: left;
  align-content: center;
  justify-content: center;
}

li{
  border: 3px solid black;
  width: 94px;
  height: 65px;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#neworleans{
  background: rgb(238, 130, 238);
 
}
#italy{
  background: rgb(0, 253, 81);

}
#newyork{
  background: rgb(0, 254, 255);

}
#amsterdam{
  background: rgb(255, 0, 0);

}
#newmexico{
  background: rgb(255, 165, 0);

}
#jamaica{
  background: rgb(255, 255, 0);

}
#seattle{
  background: rgb(44, 27, 153);

}

audio {
  display: none;
}